.hype {
	width: 100vw;
	z-index: 99;
	height: 100vh;
	position: fixed;
	top: 0;
	opacity: 0;
	pointer-events: none;
	transition: all .5s ease-out;

	background-color: rgba(0, 0, 0, 0.4);
}

.card {
	width: 45vw;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	pointer-events: none;
	transition: all .5s ease-out;
	background-color: map-get($s5-map--color, dc-black);

	display: inline;
	padding: 1rem;

	border: 4px solid map-get($s5-map--color, dc-yellow);
	border-radius: 2px;
	//animated properties
// 	border-color: rgba(244,244,244, 0);
// 	transform: translate(20px, -40px);
// 	transition: all .5s ease-out;
	
	@media screen and (max-width: 640px) {
		width: 80vw;
	}
}

.previous-card {
	position: absolute;
	@media screen and (min-width: 640px) {
		top: 50%;
		left: -20%;
	}
	@media screen and (max-width: 640px) {
		bottom: -50%;
		left: 10%;
	}
}

.next-card {
	position: absolute;
	@media screen and (min-width: 640px) {
		top: 50%;
		right: -20%;
	}

	@media screen and (max-width: 640px) {
		bottom: -50%;
		right: 10%;
	}
}

.close-card {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.card_title {
	text-transform: uppercase;
	padding-left: 2rem;
	padding-right: 2rem;

	font-size: 4rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	text-shadow:
   -1px -1px 0 map-get($s5-map--color, dc-yellow),  
    1px -1px 0 map-get($s5-map--color, dc-yellow),
    -1px 1px 0 map-get($s5-map--color, dc-yellow),
     1px 1px 0 map-get($s5-map--color, dc-yellow);
	//animated properties
	// opacity: 0;
	// transform: translate(20px, -40px);
	// transition: all .25s ease-out .25s;
	
	@media screen and (max-width: 640px) {
		font-size: 2rem;
	}
}

.card_text {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 2rem;
	//animated properties
	// opacity: 0;
	// transform: translate(20px, -40px);
	// transition: all .25s ease-out .30s;
	
	@media screen and (max-width: 640px) {
		font-size: 1.5rem;
	}
}

.card_button {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	margin: 2rem 2rem;
	padding: 1rem .5rem;
	width: 150px;
	text-align: center;
	text-decoration: none;
	color: map-get($s5-map--color, dc-white);
	border-radius: 2px;
	background-color: map-get($s5-map--color, dc-red);
	//animated properties
	// opacity: 0;
	// transform: translate(20px, -40px);
	// transition: all .25s ease-out .35s;
}

.visible {
	opacity: 1;
	pointer-events: auto;
}