@import 'bitstream/bitstream';

html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.5%;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {

  background-color: map-get($bitstream-colors, dc-black);
  color: map-get($bitstream-colors, dc-white);
  margin: 0;

  font-family: $s5_fontstack--masthead;
  overflow-x: hidden;
  font-size: 1.5em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

span {
	font-family: 'Gilmer-Outline';
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 100;
	background-color: map-get($s5-map--color, dc-black);

	#logo {
		margin: 10px;
		float: left;
		height: 40px;
		display: block;
		img {
			height: 100%;
		}
	}

	.site-nav{
		float: right;
		padding: 15px 20px;
		display: flex;
		align-content: center;
		justify-content: center;

		.icon {
			display: none;
			width: 40px;
			height: 40px;
		}

		a {
			float: left;
		  display: block;
		  color: #f2f2f2;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;

			text-transform: uppercase;
			color: map-get($s5-map--color, dc-white);
			text-decoration: none;
			font-weight: 700;
			vertical-align: middle;
		}

		.nav-sign-up {
			background-color: map-get($s5-map--color, dc-red);
			border-radius: 3px;
		}

		@media screen and (max-width: 640px) {
			display: none;
		}
	}

	.site-nav-mobile {
		@media screen and (min-width: 640px) {
			display: none;
		}

		.icon {
			position: fixed;
			top: 0;
			right: 0;
			display: block;
			float: right;
			padding: 20px;
			z-index: 99;
		}

		background-color: map-get($s5-map--color, dc-black);

		.site-nav-links {
			z-index: -1;
			display: relative;
			float: right;
			padding: 50px 0 0 50px;
			background-color: map-get($s5-map--color, dc-black);
		}

		ul {
			list-style-type: none;
			padding: 0;
			text-align: right;
		}
		a {
			display: block;
		  padding: 10px;
		  text-decoration: none;

			text-transform: uppercase;
			color: map-get($s5-map--color, dc-white);
			font-weight: 700;
		}
	}
}

.not-visible {
	opacity: 0;
	pointer-events: none;
}

.container {
	width: 90vw;
	display: block;
	margin: 0 auto;

	@media screen and (max-width: 640px) {
		width: 100vw;
		margin: 0;
	}
}

.splash {
	margin-left: 3rem;
	height: 100vh;
	display: flex;
	align-items: center;
}

.content {
	width: 70vw;

	.title{
		margin-bottom: 0;
		font-weight: 800;
		font-size: 8em;
		text-transform: uppercase;

		@media screen and (max-width: 640px) {
			font-size: 4rem;
		}
	}

	.bar {
		display: block;
		height: 20px;
		background-color: map-get($s5-map--color, dc-red);
		width: 1%;
		transition: width 2.5s ease-out;
		width: 100%;
	}
}

.grid {
	margin-top: 30vh;
	min-height: 70vh;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}


.cell-link {
	height: auto;
	text-decoration: none;
	color: map-get($s5-map--color, dc-white);
}

.cell {
	flex: auto;
	flex-shrink: 1;
	min-width: 150px;
	margin: 0 4px;
	height: 50px;
	display: inline;
	border: 2px solid;
	border-radius: 2px;
	font-size: 6rem;
	font-weight: 700;
	padding: 0 4rem;
	text-transform: uppercase;
	text-align: center;
	white-space: normal;
	line-height: 8rem;

	@media screen and (max-width: 640px) {
			font-size: 2rem;
			line-height: 4.25rem;
		}
}

$colors: dc-red, dc-yellow, dc-blue, dc-green, dc-purple;

	@for $i from 1 through length($colors) {
		.grid > *:nth-child(#{length($colors)}n+#{$i}) {
			border-color: map-get($s5-map--color, nth($colors, $i));
			color: map-get($s5-map--color, nth($colors, $i));
		}
	}

#splash, #grid, #nav {
	transition: filter .5s ease-out;
}

.blur {
	filter: blur(10px);
}

#month_selector {
	width: 250px;
	position: fixed;
	left: 3rem;
	bottom: 10vh;
	background: map-get($s5-map--color, dc-black);
	padding: 10px 8px 10px 14px;
	border: 2px solid map-get($s5-map--color, dc-red);
	border-radius: 2px;
	overflow: hidden;

	.selector {
		width: 120%;
		background: url('/theme/year_month/2019/3/assets/images/arrow_dropdown.png') no-repeat;
		background-size: auto;
		background-position: 80% center;
		background-size: 10%;
	}

	select {
		background: transparent;
		font-family: 'Gilmer';
		font-weight: 700;
		width: 150%;
		border: none;
		font-size: 2rem;
		color: map-get($s5-map--color, dc-white);
	}
}

@import 'card';